body {
  padding: 0;
  margin: 0;
  background-image: url("nature.png");
  background-size: cover;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.077);
  width: 40vw;
  height: 70vh;
  margin-top: 60px;
  margin-left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}

.clock {
  height: 100%;
}
.left-side {
  width: 55%;
}

.right-side {
  width: 45%;
}
#hrs {
  height: 40%;
  text-align: center;
  font-size: 130px;
}
#colon {
  height: 20%;
  text-align: center;
  font-size: 90px;
  transform: translateY(-25px);
}
#mins {
  height: 40%;
  text-align: center;
  font-size: 130px;
}
#month {
  margin-left: 5px;
}
.date {
  height: 10%;
  font-size: 40px;
}

#year {
  height: 20%;
  font-size: 60px;
}
#day {
  height: 20%;
  font-size: 50px;
  margin-top: -20px;
}
#am-pm {
  height: 20%;
  font-size: 80px;
  padding-top: 30px;
}
#sec {
  height: 30%;
  font-size: 80px;
}
